<style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
    	width: 100%;
    	height: 100%;
        min-height: 500px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
    	width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<div id="map"></div>
<script type="text/javascript">

	function initMap() {
	  var latitude = getParameterByName('latitude');
	  var lenght = getParameterByName('lenght');	
	  var zone = {lat: Number(latitude), lng: Number(lenght)};
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 15, center: zone});
	  var marker = new google.maps.Marker({position: zone, map: map});
	}

	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	    results = regex.exec(location.search);
	    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwl5ElPJ8SSyB1Pg_pEse-smlLIOj4Szk&callback=initMap" async defer></script>
